{% load django_bootstrap5 %}
{% load i18n %}

<!-- add session modal -->
<div class="modal modal-xl fade" id="beltradar-add-session" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5">
                    {% translate "Add Session" %}
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            </div>

            <div class="modal-body">
                <form method="post" id="modal-form-add-session">
                    {% csrf_token %}

                    {% bootstrap_form forms.add_session %}
                </form>
                {% include 'beltradar/partials/common/spinner.html' %}
                {% include 'beltradar/partials/common/error.html' %}
            </div>

            <div class="modal-footer">
                <button id="modal-button-cancel-add-request" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">
                    <i class="fa-solid fa-hand"></i>
                    {% translate "Cancel" %}
                </button>

                <button id="modal-button-confirm-add-request" type="button" class="btn btn-success btn-sm">
                    <i class="fa-solid fa-check"></i>
                    {% translate "Add Session" %}
                </button>
            </div>
        </div>
    </div>
</div>
